:root {
  --primary-light: #4ade80;
  --primary-dark: #3d7c55;
  --text-light: #ffffff;
  --dark-bg: #163537;
  --transition-speed: 0.35s;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

.footer {
  background: linear-gradient(
    135deg,
    var(--primary-dark) 0%,
    var(--primary-light) 100%
  );
  color: var(--text-light);
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 -8px 20px var(--shadow-color);
}

.dark .footer {
  background: var(--dark-bg);
  box-shadow:0 -8px 20px rgb(0 0 0 / 5%);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2.5rem;
  max-width: 1300px;
  margin: auto;
}

.footer-section {
  flex: 1;
  margin: 10px 0;
}

.footer-section h3 {
  font-size: 1.5rem;
  color: var(--text-light);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

.footer-section h4 {
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.15rem;
}

.footer-section h4::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: var(--primary-light);
  margin: 5px auto 0;
  border-radius: 3px;
}

.dark .footer-section h4::after {
  background-color: var(--primary-light);
}

.footer-section p {
  opacity: 0.85;
  font-size: 1rem;
  line-height: 1.5;
}

.footers-links {
  color: var(--text-light);
  text-decoration: none;
  transition: color var(--transition-speed) ease-in-out,
    letter-spacing var(--transition-speed);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 1.05rem;
}

.footers-links:hover {
  letter-spacing: 0.5px;
}
.dark .footers-links:hover {
  color: #4ade80;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 18px;
}

.social-icons a {
  font-size: 1.6rem;
  color: var(--text-light);
  transition: all var(--transition-speed) cubic-bezier(0.25, 0.8, 0.25, 1);
}

.social-icons a:hover {
  transform: scale(1.3) rotate(5deg);
  filter: drop-shadow(0 0 8px var(--primary-light));
}
.dark .social-icons a:hover {
  color: #4ade80;
  filter: drop-shadow(0 0 10px #4ade80);
}

.footer-bottom {
    margin-top: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.95rem;
  opacity: 0.75;
}
.dark .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1); 
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }

  .footer-section h3{
    font-size: 1.3rem;
  }

  .footer-section h4{
    font-size: 1rem;
  }

  .footers-links{
    font-size: .8rem;
  }

  .footer-section p{
    font-size: .9rem;
  }

  .footer-bottom {
    font-size: 0.85rem;
    padding-top: 1.2rem;
  }
}
